---
layout: default
---
<nav style="margin-bottom:0px;border-radius:0px;" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <i class="fa fa-arrow-left"></i>
      </a>
    </div><!-- /.collapse navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<iframe class="mapEmbed" src="https://orbitist.space/maps/launch/embed?mapid={{ page.mapNumber }}" frameborder="0" allowfullscreen></iframe>
